@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-black:#002333;
  --background-gray:#1A1A1A;
  --background-light-gray:#222222;
  --logo-color:#B4BEC9;
  --btn-color:#B4BEC9;
  --hover-btn-color:#159A9C;
}

html,body{
  color: white;
  overflow-x:hidden ;
  scroll-behavior: smooth;
}


