@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-black:#ca9980;
  --background-gray:#1A1A1A;
  --background-light-gray:#222222;
  --logo-color:#9a5a3a;
  --btn-color:#745d3e;
  --hover-btn-color:#7D674C;
  --card-title:#552f1c;
}


html,body{
  color: white;
  overflow-x:hidden ;
}


